.app {
    display: flex;
    align-items: left;
    background-color: whitesmoke;
}
input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid black;
}
input[type="submit"] {
    margin-top: 10px;
    background: blue;
    border: 1px solid blue;
    color: white;
}
input[type="submit"]:hover {
    background: #6cf0c2;
}
.error {
    color: rgb(68, 0, 255);
    font-size: 12px;
}
.title {
    font-size: 25px;
    margin-bottom: 20px;
}
.input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
}
input[type="text"],
input[type="password"] {
    height: 25px;
    border: 1px solid black;
}
input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #000000;
    border: 1px solid #020202;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
}
.button-container {
    display: flex;
    justify-content: center;
}